
<% if @sheet.article_text %>
  <p>
    <%= render html: @sheet.article_text.html_safe %>
  </p>
<% else %>
  <p>Sorry, article preview not currently available.
      Try viewing it <a href="<%= @sheet.article %>">remotely.</a>
  <p>
  <p>
    <%= link_to 'Edit', edit_sheet_path(@sheet) if @sheet.owner %>
  </p>
<% end %>
