<div class="get-courses">
  <!-- temp styling, obviously -->
  <a href="/get_current_user_courses/<%= @sheet.id %>"
      class="get-courses"
      style="color: #BADA55" >
    Add this sheet to a course!
  </a>
</div>
