
<div class="row">

  <div class="col s2 offset-s3 center-align">
    <a href=""id="googleLogin"><i class="fa fa-google" ></i></a>
  </div>

  <div class="col s2 center-align">
    <a href=""id="facebookLogin"><i class="fa fa-facebook" ></i></a>
  </div>

  <div class="col s2 center-align">
    <i class="fa fa-twitter"></i>
  </div>

</div>

<div id="sign-in-form" class="row">
<%= form_for :user, class: 'form-inline' do |f| %>

<%= f.email_field :email, class: 'form-control', placeholder: "Email" %><br />

<%= f.password_field :password, class: 'form-control', placeholder: "Password" %><br />

<%= f.submit "Login!", class: "login" %>

<% end %>
</div>

