<!DOCTYPE html>
<html>
<head>
  <title>Learnwithme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!-- Navigation -->
         <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
             <div class="container">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                         <i class="fa fa-bars"></i>
                     </button>
                     <a class="navbar-brand page-scroll" href="/">
                        <span class="light">Learn With</span> Me
                     </a>
                 </div>

                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                     <ul class="nav navbar-nav">
                         <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                           <a href="#page-top"></a>
                        </li>
                        <% if session[:user_id] %>
                          <li class="logout"><a href="/logout" id="Logout">Logout!</a></li>
                        <% else %>
                          <li class="signin"><a href="/users">Sign In</a></li>
                          <li class="signup"><a href="/users">Sign Up</a></li>
                        <% end %>
                     </ul>
                 </div>
                 <!-- /.navbar-collapse -->
             </div>
             <!-- /.container -->
         </nav>

<% if current_page?(root_url) || current_page?(courses_path) %>
  <div class="main-header">
    <div class="index">
      <div class="row">
        <div class="col-xs-12">
          <h1>Cereal Box</h1>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="page-wrap">
  <div class="container">
<% end %>

<%= yield %>

  </div>
</div>


</body>
</html>
