<h3>Title: <%= course.title %></h3>
<% if @user && !@user.enrollments.include?(course) %>
  <a class="enroll" href="/courses/<%= course.id %>/enrollments">Join course</a>
<% end %>
<h5>Description: <%= course.description %></h5>
<p>Location: <%= course.location %></p><br>
