<h2>Now the course has been saved and you can start adding content to it</h2>
<%= @course.inspect %>

<%= render 'articles/form' %>
<%= render 'images/form' %>

<!-- <%# render 'videos/form' %>  this one is breaking for some reason, can't identify why... -Alex-->
