<div id="section">
  <div id="<%= @course.title.downcase %>">
    <div class="container">
      <h1 class="text-center"><%= @course.title.upcase %></h1>
    </div>
  </div>
</div>

<div class="container">
<%= render 'articles/form' %>
<%= render 'images/form' %>
</div>

<!-- <%# render 'videos/form' %>  this one is breaking for some reason, can't identify why... -Alex-->
