<h2>Now the course has been saved and you can start adding content to it</h2>
<%= @course.inspect %>

<div class="current-content">

</div>

<div class="new-content">
  <div class="new-content-form">
    <%= render 'contents/form' %>
  </div>
</div>
