<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<script type="text/javascript">
  var ref = new Firebase("https://learn-with-me.firebaseio.com");

  $(function() {
      $("#googleLogin").click(function(){
        ref.authWithOAuthPopup("google", function(error, user) {
          if (error) {
            console.log('Authentication error: ', error);
          } else if (user) {
            console.log('User ' + user.id + ' authenticated via the ' + user.provider + ' provider!');
            debugger;
          } else {
            console.log("User is logged out.")
          }
        });
      });

      $("#facebookLogin").click(function(){
        ref.authWithOAuthPopup("facebook", function(error, user) {
          if (error) {
            console.log('Authentication error: ', error);
          } else if (user) {
            console.log('User ' + user.id + ' authenticated via the ' + user.provider + ' provider!');
            debugger;
          } else {
            console.log("User is logged out.")
          }
        });
      });
  });
</script>

<a href="#" id="googleLogin">Google Login!</a><br>
<a href="#" id="facebookLogin">Facebook Login!</a> <br>

<a href="#" id="googleLogout">Logout!</a>
