<br>
<br>
<br>
<br>
<br>
<br>
<% if @user %>
  <h3>Welcome <%= @user.username %></h3>
  <a href="users/<%= @user.id %>">Go to your profile</a><br>
  <a href="courses/new">Create a Course</a><br>
<% end %>


<% @courses.each do |course| %>
  <%= render partial: "course_block", locals: {course: course} %>
<% end %>
