<br>
<br>
<br>
<br>
<br>
<br>
<p>Find me in app/views/courses/index.html.erb</p>
<% if @user %>
  <h3>Welcome <%= @user.username %></h3>
  <a href="users/<%= @user.id %>">Go to your profile</a><br>
<% end %>


<% @courses.each do |course| %>
  <%= render partial: "course_block", locals: {course: course} %>
<% end %>
