<div id="section">
  <div id="<%= @course.title.downcase %>">
    <div class="container">
      <h1 class="text-center"><%= @course.title.upcase %></h1>

      <div class="row">
        <%= link_to 'New Sheet', new_course_sheet_path(@course) %>
    </div>
  </div>
</div>


