<div class="container">
  <div class="row">
    <% @objects.each do |object| %>
      <% if object.is_a?(Course) %>
        <%= render partial: "course_block", locals: {course: object} %>
      <% else %>
        <%= render partial: "sheets/sheets_block", locals: {sheet: object} %>
      <% end %>
    <% end %>
  </div>
</div>


