.form-control {
  border-radius: 0px;
  border: 1px solid #000;

  &:focus {
    border:2px solid rgb(13,160,211);
    -webkit-box-shadow: none;
  }
}

// input[type="submit"]{
//   background-color: transparent;
//   border: 1px solid;
//   padding: 10px;
//   color: #000;
// }

label {
  font-family: 'Lato', sans-serif;
}
